<div class="container h-100">
  <div class="row h-100">
    <div
      class="offset-1 col-10 h-100 d-flex align-items-center justify-content-center"
    >
      <div class="form-container">
        <h1 class="text-center font-weight-light mt-4 mb-4">Cadastrar</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
          <mat-form-field class="w-100 mt-4">
            <input
              matInput
              placeholder="nome"
              formControlName="name"
              tabindex="1"
            />
            <mat-error>Por favor, coloque um nome válido!</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 my-2">
            <input
              matInput
              placeholder="email"
              formControlName="email"
              tabindex="1"
            />
            <mat-error>Por favor, coloque um email válido!</mat-error>
          </mat-form-field>
          <mat-form-field class="my-2 w-100">
            <input
              matInput
              placeholder="senha"
              formControlName="password"
              type="password"
              tabindex="1"
            />
            <mat-error *ngIf="getPassword()?.invalid && getPassword()?.touched">
              Por favor, coloque uma senha com mais de 8 caracteres!
            </mat-error>
          </mat-form-field>
          <button
            class="mt-4 w-100"
            type="submit"
            mat-raised-button
            color="primary"
            tabindex="1"
            [disabled]="signUpForm.invalid || signUpForm.disabled"
          >
            Cadastrar
          </button>
        </form>
        <p class="text-center my-2 font-weight-light">ou</p>
        <p class="sign-up text-center my-2 font-weight-light">
          <a [routerLink]="'/login'">Fazer login</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">-->
<!--  <div class="form-container">-->
<!--    <h1>Cadastrar</h1>-->
<!--    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">-->
<!--      <mat-form-field>-->
<!--        <input-->
<!--          matInput-->
<!--          placeholder="Nome"-->
<!--          formControlName="name"-->
<!--          tabindex="1"-->
<!--        >-->
<!--        <mat-error>Por favor, coloque um nome!</mat-error>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field>-->
<!--        <input-->
<!--          matInput-->
<!--          placeholder="Email"-->
<!--          formControlName="email"-->
<!--          tabindex="1"-->
<!--        >-->
<!--        <mat-error>Por favor, coloque um email válido!</mat-error>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field>-->
<!--        <input-->
<!--          matInput-->
<!--          placeholder="Senha"-->
<!--          formControlName="password"-->
<!--          type="password"-->
<!--          tabindex="1"-->
<!--        >-->
<!--        <mat-error *ngIf="getPassword()?.invalid && getPassword()?.touched">-->
<!--          Por favor, coloque uma senha com mais de 8 caracteres!-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
<!--      <button-->
<!--        type="submit"-->
<!--        mat-raised-button-->
<!--        color="primary"-->
<!--        tabindex="1"-->
<!--        [disabled]="signUpForm.invalid || signUpForm.disabled"-->
<!--      >-->
<!--        Cadastrar-->
<!--      </button>-->
<!--    </form>-->
<!--    <p class="after-form">OU</p>-->
<!--    <p class="login">-->
<!--      <a [routerLink]="'/login'">Fazer login</a>-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->
