.icon-not-found {
  font-size: 30rem;
  font-weight: lighter;
  color: rgba(white, .6);
}

.message-title {
  font: initial;
  font-size: 5rem;
  font-weight: normal;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  color: rgba(black, 80);
}

.message-description {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: lighter;
  text-align: center;
  color: rgba(black, 60);
}
