<div class="container h-100">
  <div class="h-100">
    <div class="h-100 row align-items-center">
      <div class="col-12 col-md-4 offset-md-1">
        <p class="icon-not-found">?</p>
      </div>
      <div class="col-12 col-md-5 offset-md-1">
        <div class="row">
          <div class="col-12">
            <h1 class="message-title">Whoops</h1>
          </div>
          <div class="col-12">
            <p class="message-description">Não encontramos esta página!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
