<h1 mat-dialog-title>Adicionar um artista</h1>
<div mat-dialog-content>
  <form [formGroup]="addForm">
    <mat-form-field class="w-100 mt-4">
      <input
        matInput
        placeholder="name"
        formControlName="name"
        tabindex="1"
      />
      <mat-error>O nome não pode estar vazio!</mat-error>
    </mat-form-field>
    <div>
      <input type="file" name="image" (change)="onFileSelect($event)" />
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onAddAlbum(true)">Cancelar</button>
  <button mat-button [disabled]="addForm.invalid || addForm.disabled" (click)="onAddAlbum()" cdkFocusInitial>Adicionar</button>
</div>
